<% include header %>
		<% include navbar %>
		<div class="main-container" id="main-container">
			<% include sidebar %>
			<div class="main-content">
				<!-- #section:basics/content.breadcrumbs -->
				<div class="breadcrumbs" id="breadcrumbs">
					<script type="text/javascript">
						try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
					</script>

					<ul class="breadcrumb">
						<li>
							<i class="ace-icon fa fa-home home-icon"></i>
							<a href="/">控制台</a>
						</li>
						<li class="active">总览</li>
					</ul><!-- /.breadcrumb -->
				</div>
				<div class="page-content">
					<div class="page-header">
						<h1>
							总览
							<small>
								<i class="ace-icon fa fa-angle-double-right"></i>
								状态 &amp; 统计
							</small>
						</h1>
					</div><!-- /.page-header -->
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<div class="row">
                                    <div class="col-xs-3"></div>
									<div class="col-xs-6 infobox-container">
										<!-- #section:pages/dashboard.infobox -->
										<div class="infobox infobox-blue">
											<div class="infobox-icon">
												<i class="ace-icon fa fa-cube"></i>
											</div>

											<div class="infobox-data">
												<span class="infobox-data-number"><%= user.servers.length %></span>
												<div class="infobox-content">云主机总数</div>
											</div>
										</div>
										<div class="infobox infobox-green">
											<div class="infobox-icon">
												<i class="ace-icon fa fa-cube"></i>
											</div>

											<div class="infobox-data">
												<% var cnt = 0;
												for (var i in user.servers) {
													if (user.servers[i].status == 1) cnt++;
												} %>
												<span class="infobox-data-number"><%= cnt %></span>
												<div class="infobox-content">正在运行</div>
											</div>
										</div>

										<div class="infobox infobox-red">
											<div class="infobox-icon">
												<i class="ace-icon fa fa-hdd-o"></i>
											</div>

											<div class="infobox-data">
												<span class="infobox-data-number"><%= parseInt(user.storage.remain/1024/1024/1024*100)/100 %>GB</span>
												<div class="infobox-content">可用的云存储</div>
											</div>
										</div>
										<div class="infobox infobox-pink">
											<div class="infobox-icon">
												<i class="ace-icon fa fa-shopping-cart"></i>
											</div>

											<div class="infobox-data">
												<span class="infobox-data-number"><%= user.account %> 元</span>
												<div class="infobox-content">账户余额</div>
											</div>
										</div>
									</div>
							</div>	
							


							<!-- PAGE CONTENT ENDS -->
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.page-content -->
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->

		<% include scripts %>
		<script src="/highcharts.js"></script>
		<script>
//          $(function () {
//              Highcharts.setOptions({
//              global: {
//                  useUTC: false
//              }
//          });
//            $('.cpu-monitor').each(function () {
//              var id = $(this).attr('data-id');
//              var start = Number($(this).attr('data-start'));
//              $(this).highcharts({
//            chart: {
//                type: 'area',
//                animation: Highcharts.svg, // don't animate in old IE
//                marginRight: 10,
//                events: {
//                    load: function () {
//
//                        // set up the updating of the chart each second
//                        var series = this.series[0];
//                        setInterval(function () {
//                            var x = (new Date()).getTime(), // current time
//                                y = Math.random() * 20 + start;
//                            series.addPoint([x, y], true, true);
//                        }, 2000);
//                    }
//                }
//            },
//            title: {
//                text: 'CPU资源监视器 - Server#' + id 
//            },
//            xAxis: {
//                type: 'datetime',
//                tickPixelInterval: 150
//            },
//            yAxis: {
//                title: {
//                    text: '使用率'
//                },
//              min: 0,
//              max: 100
//            },
//            tooltip: {
//                formatter: function () {
//                    return '<b>' + this.series.name + '</b><br/>' +
//                        Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
//                        Highcharts.numberFormat(this.y, 1) + '%';
//                }
//            },
//            legend: {
//                enabled: false
//            },
//            exporting: {
//                enabled: false
//            },
//                plotOptions: {
//            area: {
//                marker: {
//                    enabled: false,
//                    symbol: 'circle',
//                    radius: 2,
//                    states: {
//                        hover: {
//                            enabled: true
//                        }
//                    }
//                }
//            }
//        },
//            series: [{
//                name: 'CPU使用率',
//                data: (function () {
//                    // generate an array of random data
//                    var data = [],
//                        time = (new Date()).getTime(),
//                        i;
//
//                    for (i = -39; i <= 0; i += 1) {
//                        data.push({
//                            x: time + i * 1000,
//                            y: Math.random()*20 + start
//                        });
//                    }
//                    return data;
//                }())
//            }]
//        });
//          })
//            });
        
        </script>
	</body>
</html>
