<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en" xmlns:wb="http://open.weibo.com/wb"> <!--<![endif]-->  
<head>
    <title>主页 - KING Cloud</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Web Fonts -->
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/unify/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/unify/assets/css/style.css">

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="/unify/assets/css/headers/header-default.css">
    <link rel="stylesheet" href="/unify/assets/css/footers/footer-v1.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/unify/assets/plugins/animate.css">
    <link rel="stylesheet" href="/unify/assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="/unify/assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/unify/assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/unify/assets/plugins/horizontal-parallax/css/horizontal-parallax.css">
    <link rel="stylesheet" href="/unify/assets/css/pages/pricing/pricing_v7.css">  
   
    <!-- CSS Customization -->
    <link rel="stylesheet" href="/unify/assets/css/custom.css">
    
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=" type="text/javascript" charset="utf-8"></script>
</head> 

<body>

<div class="wrapper">
    <!--=== Header ===-->    
    <div class="header">
        <div class="container" style="margin-bottom: 0">
            <!-- Logo -->
            <a class="logo" style="text-decoration: none; width: 200px" href="/">
                <h1>
                    <i class="ace-icon fa fa-leaf" style="color: #69aa46"></i>
                    <span style="color: #dd5a43">KING</span>
                    <span style="color: #777777">Cloud</span>
                </h1>
            </a>
            <!-- End Logo -->
            
            <!-- Topbar -->
            <div class="topbar">
                <ul class="loginbar pull-right">  
                    <li><a href="#">帮助</a></li>  
                    <li class="topbar-devider"></li>   
                    <li><a href="/login">登录</a></li>   
                </ul>
            </div>
            <!-- End Topbar -->

            <!-- Toggle get grouped for better mobile display -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
            </button>
            <!-- End Toggle -->
        </div><!--/end container-->

    </div>
    <!--=== End Header ===-->

    <!--=== Slider ===-->
    <div id="sequence-theme" class="sequence-inner">
        <div id="sequence">
            <img class="prev" src="/unify/assets/plugins/horizontal-parallax/images/bt-prev1.png" alt="Previous" />
            <img class="next" src="/unify/assets/plugins/horizontal-parallax/images/bt-next1.png" alt="Next" />
            <ul>
                <li class="animate-in">
                    <div class="info">
                        <h2>云服务器</h2>
                        <p>一种简单高效，处理能力可弹性伸缩的计算服务助您快速构建更稳定、安全的应用。提升运维效率，降低IT成本，使您更专注于核心业务创新</p>
                    </div>
                    <img class="balloon" src="/unify/assets/plugins/horizontal-parallax/images/balloon.png" alt="Balloon" />
                </li>
                <li>
                    <div class="info">
                        <h2>云存储</h2>
                        <p>海量、安全和高可靠的云存储服务。RESTFul API的平台无关性，容量和处理能力的弹性扩展，按实际容量付费真正使您专注于核心业务。</p>
                    </div>
                    <img class="aeroplane" src="/unify/assets/plugins/horizontal-parallax/images/aeroplane.png" alt="Aeroplane" />
                </li>
                <!-- <li>
                    <div class="info">
                        <h2>Cutting Edge</h2>
                        <p>Supports modern browsers, old browsers (IE8+), touch devices and responsive designs</p>
                    </div>
                    <img class="kite" src="/unify/assets/plugins/horizontal-parallax/images/kite.png" alt="Kite" />
                </li> -->
            </ul>
        </div>
    </div><!--/sequence-theme-->
    <!--=== End Slider ===-->

    <!--=== Purchase Block ===-->
    <div class="purchase">
        <div class="container">
            <div class="row">
                <div class="col-md-9 animated fadeInLeft">
                    <span>KING Cloud 是一个创新的云服务整合平台</span>
                    <p>此处应该有广告语</p>
                </div>            
                <div class="col-md-3 btn-buy animated fadeInRight">
                    <a href="/login" class="btn-u btn-u-lg"><i class="fa fa-cloud"></i> 立即加入</a>
                </div>
            </div>
        </div>
    </div><!--/row-->
    <!-- End Purchase Block -->

    <!--=== Content Part ===-->
    <div class="container content"> 
        <div class="row">
            <div class="col-md-12">
                <div class="headline"><h2>优惠套餐</h2></div>
        
                <!-- Pricing Table-v7 -->
                <div class="row margin-bottom-50 ">
                    <div class="col-md-3 col-sm-6 col-xs-6 col-width-full">
                        <div class="pricing-table-v7 service-block-aqua sm-margin-bottom-30">
                            <div class="service-block ">
                                <h2 class="heading-md">初级型</h2>
                                <span><i class="dollar">￥</i>68<i>/月</i></span>
                                <p>适用于学习、轻量级应用开发部署</p>
                                <a href="/login" class="btn-u btn-brd btn-u rounded-4x">现在购买</a>                  
                            </div>
                            <div class="row pricing-body no-space-pricing no-row-space text-center">
                                <div class="col-xs-6">
                                    <div class="pricing-inner-1">
                                        <i class="icon-speedometer"></i>
                                        <span>单核 CPU</span>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="pricing-inner-2">
                                        <i class="icon-layers"></i>
                                        <span>1GB 内存</span>
                                    </div>
                                </div>                        
                                <div class="col-xs-6">
                                    <div class="pricing-inner-1">
                                        <i class="icon-drawer"></i>
                                        <span>10GB 硬盘</span>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="pricing-inner-2">
                                        <i class="icon-cloud-upload"></i>
                                        <span>10GB 云存储</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>            
                    <div class="col-md-3 col-sm-6 col-xs-6 col-width-full">
                        <div class="pricing-table-v7 service-block-brown sm-margin-bottom-30">
                            <div class="service-block">
                                <h2 class="heading-md">经济型</h2>
                                <span><i class="dollar">￥</i>240<i>/月</i></span>
                                <p>适用于WEB应用开发，网页游戏等</p>
                                <a href="/login" class="btn-u btn-brd btn-u rounded-4x">现在购买</a>                  
                            </div>
                            <div class="row pricing-body no-space-pricing no-row-space text-center">
                                <div class="col-xs-6">
                                    <div class="pricing-inner-1">
                                        <i class="icon-speedometer"></i>
                                        <span>2核 CPU</span>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="pricing-inner-2">
                                        <i class="icon-layers"></i>
                                        <span>4GB 内存</span>
                                    </div>
                                </div>                        
                                <div class="col-xs-6">
                                    <div class="pricing-inner-1">
                                        <i class="icon-drawer"></i>
                                        <span>40GB 硬盘</span>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="pricing-inner-2">
                                        <i class="icon-cloud-upload"></i>
                                        <span>50GB 云存储</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>            
                    <div class="col-md-3 col-sm-6 col-xs-6 col-width-full">
                        <div class="pricing-table-v7 service-block-dark-blue sm-margin-bottom-30">
                            <div class="service-block">
                                <h2 class="heading-md">高级型</h2>
                                <span><i class="dollar">￥</i>750<i>/月</i></span>
                                <p>适用于大型网站部署、数据处理等</p>
                                <a href="/login" class="btn-u btn-brd btn-u rounded-4x">现在购买</a>                  
                            </div>
                            <div class="row pricing-body no-space-pricing no-row-space text-center">
                                <div class="col-xs-6">
                                    <div class="pricing-inner-1">
                                        <i class="icon-speedometer"></i>
                                        <span>4核 CPU</span>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="pricing-inner-2">
                                        <i class="icon-layers"></i>
                                        <span>16GB 内存</span>
                                    </div>
                                </div>                        
                                <div class="col-xs-6">
                                    <div class="pricing-inner-1">
                                        <i class="icon-drawer"></i>
                                        <span>500GB 硬盘</span>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="pricing-inner-2">
                                        <i class="icon-cloud-upload"></i>
                                        <span>1TB云存储</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>            
                    <div class="col-md-3 col-sm-6 col-xs-6 col-width-full">
                        <div class="pricing-table-v7 service-block-dark">
                            <div class="service-block">
                                <h2 class="heading-md">企业型</h2>
                                <span><i class="dollar">￥</i>1600<i>/月</i></span>
                                <p>适用于重量级应用，企业软件等</p>
                                <a href="/login" class="btn-u btn-brd btn-u rounded-4x">现在购买</a>                  
                            </div>
                            <div class="row pricing-body no-space-pricing no-row-space text-center">
                                <div class="col-xs-6">
                                    <div class="pricing-inner-1">
                                        <i class="icon-speedometer"></i>
                                        <span>12核 CPU</span>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="pricing-inner-2">
                                        <i class="icon-layers"></i>
                                        <span>32GB 内存</span>
                                    </div>
                                </div>                        
                                <div class="col-xs-6">
                                    <div class="pricing-inner-1">
                                        <i class="icon-drawer"></i>
                                        <span>2TB 硬盘</span>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="pricing-inner-2">
                                        <i class="icon-cloud-upload"></i>
                                        <span>10TB云存储</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>      
                </div>
                <!-- End Pricing Table-v7 -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="headline"><h2>成功案例</h2></div>

                <!-- Clients Block-->
                <div class="row clients-page">
                    <div class="col-md-2">
                        <img src="/unify/assets/img/clients2/baderbrau.png" class="img-responsive hover-effect" alt="">
                    </div>
                    <div class="col-md-10">
                        <h3>上海昌嘉广告策划有限公司</h3>
                        <ul class="list-inline">
                            <li><i class="fa fa-map-marker color-green"></i> China</li>
                            <li><i class="fa fa-globe color-green"></i> <a class="linked" href="http://www.design-cj.com">http://www.design-cj.com</a></li>
<!--                            <li><i class="fa fa-briefcase color-green"></i> Web Design &amp; Development</li>-->
                        </ul>
                        <p>上海昌嘉广告策划有限公司拥有一支年轻、充满生机活力的创作队伍，从2010年创业初始，我们就奠定了企业文化是核心竞争力的理念，努力架构起具有激情和创造力的团队，运用独特非凡的创意思维，整合东西方文化精神和艺术，为您量身打造最佳的营销方案。</p>
<p>2011年，我们倾情打造创意营销产品，从营销的六个基本要素（机会识别、品牌架构、吸引消费、订单执行、售后服务、舆情监控）入手，锁定Marketing3.0时代，以媒体创新、内容创新和传播方式创新为基础，为品牌客户提供立体式营销解决方案。我们的理念：在工作中我们针对客户的需求量身制定最精准的品牌整体推广计划，我们整合多种手段和有效资源，为客户制定全网整合推广实施方案，并配合不同阶段的网络事态，即时提出应对方案，最大化利用社会化媒体的可靠资源，提升传播效果，以客户的利益为中心，创造最为优质的广告新领域来服务于CJ的客户。</p>
                    </div>
                </div>
                <!-- End Clients Block-->

                <!-- Clients Block-->
                <div class="row clients-page">
                    <div class="col-md-2">
                        <img style="width: 100%" src="http://static.czvv.com/public/images/search_logo_small2.png" class="img-responsive hover-effect" alt="">
                    </div>
                    <div class="col-md-10">
                        <h3>北京省惠科技股份有限公司上海分公司</h3>
                        <ul class="list-inline">
                            <li><i class="fa fa-map-marker color-green"></i> China</li>
                            <li><i class="fa fa-globe color-green"></i> <a class="linked" href="http://16671172.czvv.com">http://16671172.czvv.com</a></li>
                        </ul>
                        <p>北京省惠科技股份有限公司是全国著名支付机构——快钱全国运营商，专门从事银行卡收单、新兴支付工具研发及销售、中小企业融资服务、电子商务研发及服务。公司秉承“创新服务、和谐共赢”的经营理念，利用快钱业界领先的支付产品和电子商务解决方案，在为中小微企业客户提供包括结算服务、融资服务、销售服务、管理咨询服务等全面经营管理服务的同时，努力为员工打造一个学习成长的平台。公司内设综合管理部、计划财务部、行业拓展部、银行关系部、渠道管理部、融资服务部、客户服务部、省惠网等八个部门。</p>
                        <p>
                            北京省惠科技股份有限公司上海分公司 简介：我们尊崇“踏实、拼搏、责任”的企业精神，并以诚信、共赢、开创经营理念，创造良好的办公环境，以全新的管理模式，完善的技术，周到的服务，卓越的品质为生存根本，我们始终坚持用户至上 用心服务于客户，坚持用自己的服务去打动客户。欢迎各位来参观指导工作。
                        </p>
                    </div>
                </div>
                <!-- End Clients Block-->

                <!-- Clients Block-->
                <div class="row clients-page">
                    <div class="col-md-2">
                        <img src="http://www.biolitec.com/fileadmin/templates/images/logo.png" class="img-responsive hover-effect" alt="">
                    </div>
                    <div class="col-md-10">
                        <h3>佰礼激光科技（上海）有限公司</h3>
                        <ul class="list-inline">
                            <li><i class="fa fa-map-marker color-green"></i> USA</li>
                            <li><i class="fa fa-globe color-green"></i> <a class="linked" href="http://www.biolitec.com">http://www.biolitec.com</a></li>
                        </ul>
                        <p>Biolitec AG has a long-standing experience in the development and production of medical laser systems as well as optical fibers. We combine marketing know-how of our innovative methods of laser medicine with the established expertise in photo-dynamic therapy.</p>
                        <p>This competency forms the basis of our leading position as a manufacturer of new and innovative  treatment methods for a wide range of therapies.</p>
                        <p>Biolitec's products are currently used to treat several hundred thousand patients each year using a targeted minimal invasive approach for optimal results, fast healing and recovery. Furthermore it spares patients the side effects, risks and pain which are anxiety typically associated with the alternatives of traditional surgeries or systemic medication in most medical disciplines.</p>
                    </div>
                </div>
                <!-- End Clients Block-->
                
                <!-- Clients Block-->
                <div class="row clients-page">
                    <div class="col-md-2">
                        <img src="http://www.wine-excellence.com/templates/default/images/logo.png" class="img-responsive hover-effect" alt="">
                    </div>
                    <div class="col-md-10">
                        <h3>卓法酒业有限公司</h3>
                        <ul class="list-inline">
                            <li><i class="fa fa-map-marker color-green"></i> China</li>
                            <li><i class="fa fa-globe color-green"></i> <a class="linked" href="http://www.wine-excellence.com/">http://www.wine-excellence.com/</a></li>
                        </ul>
                        <p>卓法酒业有限公司是一家在上海法国独资，向中国引荐法国葡萄酒商的公司。作为总部位于香港的法国葡萄酒协会的分支机构，公司团队来自中法两国，均为对法国及其葡萄酒怀有强烈热情的精湛行家。</p>
                        <p>作为中法两国之间桥梁，卓法酒业跨越语言和空间隔阂，建立起法国酒商和中国进口商与经销商之间的纽带，身为法国葡萄酒产区延伸的我们，在中国看到了广阔的市场前景。</p>
                        <p>我们以质优平价为准则，精选葡萄酒投入市场。同时葡萄果农本着绿色生产的态度，对土地和环境高度重视。而即便是非主打产品，我们的酒商依然全心全意投入精力，如此敬业使全球消费者为之振奋，品酒过程犹如在这片大地尽情嬉戏。今日作为分布在8大地区，超过20个产区酒商代表，我们坚持不懈寻找那些名家名品，扩大产品名录的同时，也让价格档次节节攀高。</p>
                        <p>让中国进口商和经销商足不出户就能品味到法国美酒的风味，并更方便接触到新供应商，这就是我们的实力所在。</p>
                        <p>导引中国消费者与法兰西风土人情的亲密接触，一样是公司的宗旨，为此我们通过与品鉴机构的合作与举办各类沙龙来满足需求。您可以点击“公司大事”，对此有充分了解。</p>
                    </div>
                </div>
                <!-- End Clients Block-->
            </div><!--/col-md-9-->

            <div class="col-md-3">
                <!-- Our Services -->
                <div class="who margin-bottom-30">
                    <div class="headline"><h2>新闻与政策</h2></div>
                    <% if (docs) { %>
                    <ul class="list-unstyled">
                    	<% for (var i in docs) { %>
                    	<li><a style="text-decoration: underline; color: #0078b6!important;" href="/news/<%= docs[i]._id %>"><%= docs[i].title %></a><small style="color: gray" class="pull-right"><%= (new Date(docs[i].date)).getMonth() + 1 %>/<%= (new Date(docs[i].date)).getDate() %></small></li>
                    	<% } %>
					</ul>
                    <% } %>
                </div>
                <div class="who margin-bottom-30">
                    <div class="headline"><h2>信息推送</h2></div>
                    <wb:list appkey="152333821" border="n" creater="n" info="n" sidebar="n" footbar="y" width="260" height="500" listid="3839595533973115" uid="2413927517" ></wb:list>
                </div>

                <!-- About Us -->
                <div class="headline"><h2>关于我们</h2></div>
                <div class="margin-bottom-30">
                    <p>头脑之都</p> 
                    <p>城市中的硅谷</p>                    
                </div>
            </div><!--/col-md-3-->
        </div>     
    </div><!--/container-->     
    <!-- End Content Part -->

    <!--=== Footer Version 1 ===-->
    <div class="footer-v1">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <!-- About -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <a class="logo" style="text-decoration: none; width: 200px" href="/">
                            <h1>
                                <i class="ace-icon fa fa-leaf" style="color: #69aa46"></i>
                                <span style="color: #dd5a43">KING</span>
                                <span style="color: #777777">Cloud</span>
                            </h1>
                        </a>
                        <p>创新的云服务整合平台</p>
                        <p>帮助您提升运维效率，降低IT成本</p>    
                    </div><!--/col-md-3-->
                    <!-- End About -->

                    <!-- Latest -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <div class="posts">
                            <div class="headline"><h2>最新动态</h2></div>
                            <ul class="list-unstyled latest-list">
                                <li>
                                    <a href="#">Incredible content</a>
                                    <small>May 8, 2015</small>
                                </li>
                                <li>
                                    <a href="#">新产品发布</a>
                                    <small>June 23, 2015</small>
                                </li>
                                <li>
                                    <a href="#">New Terms and Conditions</a>
                                    <small>September 15, 2015</small>
                                </li>
                            </ul>
                        </div>
                    </div><!--/col-md-3-->  
                    <!-- End Latest --> 
                    
                    <!-- Link List -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <div class="headline"><h2>站内链接</h2></div>
                        <ul class="list-unstyled link-list">
                            <li><a href="#">关于我们</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#">人才招聘</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#">联系我们</a><i class="fa fa-angle-right"></i></li>
                        </ul>
                    </div><!--/col-md-3-->
                    <!-- End Link List -->                    

                    <!-- Address -->
                    <div class="col-md-3 map-img md-margin-bottom-40">
                        <div class="headline"><h2>联系我们</h2></div>                         
                        <address class="md-margin-bottom-40">
                            北京东路668号科技京城东楼16F，黄浦区 <br />
                            中国，上海 <br />
                            电话: 021-53086666 <br />
                            传真: 021-53087413 <br />
                            Email: <a href="mailto:info@king.sh.cn" class="">info@king.sh.cn</a>
                        </address>
                    </div><!--/col-md-3-->
                    <!-- End Address -->
                </div>
            </div> 
        </div><!--/footer-->

        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">                     
                        <p>
                            2015 &copy; All Rights Reserved.
                           <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                        </p>
                    </div>
                </div>
            </div> 
        </div><!--/copyright-->
    </div>     
    <!--=== End Footer Version 1 ===-->
</div><!--/wrapper-->

<!-- JS Global Compulsory -->           
<script type="text/javascript" src="/unify/assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/unify/assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="/unify/assets/plugins/bootstrap/js/bootstrap.min.js"></script> 
<!-- JS Implementing Plugins -->           
<script type="text/javascript" src="/unify/assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="/unify/assets/plugins/smoothScroll.js"></script>
<script type="text/javascript" src="/unify/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="/unify/assets/plugins/horizontal-parallax/js/sequence.jquery-min.js"></script>
<script type="text/javascript" src="/unify/assets/plugins/horizontal-parallax/js/horizontal-parallax.js"></script>
<!-- JS Customization -->
<script type="text/javascript" src="/unify/assets/js/custom.js"></script>
<!-- JS Page Level -->           
<script type="text/javascript" src="/unify/assets/js/app.js"></script>
<script type="text/javascript" src="/unify/assets/js/plugins/owl-recent-works.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        OwlRecentWorks.initOwlRecentWorksV2();        
    });
</script>
<!--[if lt IE 9]>
    <script src="/unify/assets/plugins/respond.js"></script>
    <script src="/unify/assets/plugins/html5shiv.js"></script>
    <script src="/unify/assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->		

</body>
</html>	
